<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ptmarketing04.kot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Preferences"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainTaskActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".UrgentListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SummaryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditTaskActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>